<!DOCTYPE html>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" >
<title>左边导航</title>
<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
<script src="../../js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$('.sidenav li').click(function(){
		$(this).siblings('li').removeClass('now');
		$(this).addClass('now');
	});
	$('.erji li').click(function(){
		$(this).siblings('li').removeClass('now_li');
		$(this).addClass('now_li');
	});
	var main_h = $(window).height();
	$('.sidenav').css('height',main_h+'px');
})
</script>
<!--框架高度设置-->
</head>
<body>
<div id="left_ctn">
    <ul class="sidenav">
        <li class="now">
            <div class="nav_m">
                <span><a>菜单管理</a></span>
                <i>&nbsp;</i>
            </div>
            <ul class="erji">
                <li class="now_li">
                    <span><a href="" target="main">菜单一</a></span>
                </li>
                <li>
                    <span><a href="" target="main">菜单二</a></span>
                </li>
                <li>
                    <span><a href="" target="main">菜单三</a></span>
                </li>
                <li>
                    <span><a href="" target="main">菜单四</a></span>
                </li>
            </ul>
        </li>
        <li>
            <div class="nav_m">
                <span><a>终端管理</a></span>
                <i>&nbsp;</i>
            </div>
            <ul class="erji">
                <li>
                    <span><a href="" target="main">终端列表</a></span>
                </li>
                <li>
                    <span><a href="" target="main">群组列表</a></span>
                </li>
                <li>
                    <span><a href="" target="main">终端数据备份</a></span>
                </li>
            </ul>
        </li>
        <li>
            <div class="nav_m">
                <span><a href="" target="_blank">退出系统</a></span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
